
.t0{
  background-color: #FF8664;  
  color: #FFFCCB;
}
#startingdiv{
	width: 100%;
	height: 5px;
	background-color: #ABFFED;
	margin-bottom:10px;
	clear:both;
}
.line{
	/* 
font-size: 14pt;
	font-family:Arial, Georgia, Palatino, Bookman, Times New Roman, serif;
	color:blue;
 */
	position: relative;
/* 
	height: auto;
	overflow: visible;
	margin-top: 0px;
	margin-bottom: 0px;
	resize: none;
 */
		/* border: 1px solid red; */

}
.linediv{
	height: auto; 
	position: relative;
	border: 0px dotted purple;
	width: 95%;
	display: table;
	padding-top: 4px;
	padding-bottom: 4px;
	
}
p {
	font-family:Georgia, Palatino, Bookman, Times New Roman, serif;
}

.L0 {
	margin-left: 0px;
}


.underlined{
	text-decoration:underline;
}
/* this becomes the default for lines beyond the defined indents */
textarea{
	font-family:Georgia, Palatino, Bookman, Times New Roman, serif;
	height:15px;
	background-color:#FFFFA0;
	width:95%;
	margin-top:1px;
	margin-bottom:1px;
	border:0px;
}
#titletxtarea{
	height:30pt;
	width: 50%;
	font-size:24pt;
	background-color:#FFFFFF;
	font-family: "Helvetica Neue",Helvetica,Verdana,Arial,Sans;
}	
.toolsdiv{
  border: blue 1px dashed;
 }
.littlebutton{
  
}
.labeltext{
   font-family:Arial,Geneva,San Serif;
   font-size: 8pt;
}
#dirchooser{
	position:absolute;
	left:0;
	top: 0;
	background: rgba(192,192,192,.9);
	width: 100%;
	height: 100%;
	text-align: left;
	display:none;
	z-index:200	
}
#dirs{
	font-family: "Helvetica Neue",Helvetica,Verdana,Arial, sans-serif;
	font-size: 11px;
	width: 40%;
	margin-left: 50px;
	overflow: scroll;
}
#workingdirspan{
	color: #E308C7;
}
#dirspanel{
	width: 200px;
	position: relative;
	float: left;
	z-index: 2001;	
}
.dirselectspan{
	background-color: #14B015;
	padding: 3px;
	border-radius: 4px;
	/* border: 1px solid #FFA811; */
	color: #0A590B;
	margin-right: 4px;
	font-size: 6px;
}
.dirnameclass{
	font-size: 12px;
}
.selecteddir{
	background-color: yellow;
}

#revdate{
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	background: rgba(0,192,192,.9);
	color: gray;
	float: right;	
}
#notifybanner{
	position: fixed;
	top: 20px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;;
	width: 40%;
	padding: 5px;
	z-index: 10000;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	-webkit-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.9);
	-moz-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.9);
	box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.9); 

}

#openloader,#busy{
	display: none; /* it's turned off */
	position:absolute;
	left:0;
	top: 0;
	background: rgba(76,0,162,.9);
	width: 100%;
	height: 100%;
	text-align: center;
	z-index:200;
}

#pathnamediv{
	font-family:  "Helvetica Neue",Helvetica,Verdana,Arial;
	font-weight: 300;
	color: #42C0F6;
}
#filenamediv{
	font-family:  "Helvetica Neue",Helvetica,Verdana,Arial;
	font-weight: 500;
	color: #369CC8;
}
#inneropenloader{
	font-family:  "Helvetica Neue",Helvetica,Verdana,Arial;
	font-weight: 500;
	color: white;
	margin-left: auto;
	marging-right: auto;
	top: 40%;
	font-size: 34px;
	text-align: center;	
}
.drophover{
 	border-bottom: 5px dotted #FF1B4F;
 }
 #dropZone{
 	position:absolute;
	left:0;
	top: 0;
	background: rgba(192,192,192,.9);
	width: 100%;
	height: 100%;
	text-align: center;
	display:none;
	z-index:20000;
 }
#saveDialog{
	display: none;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 0;
	width: 400px;
	background-color: #FF9425;
	color: #FFFCE6;
	padding: 5px;
	z-index: 10000;
	-webkit-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.9);
	-moz-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.9);
	box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.9); 
} 


#opendiv,#savediv, #recentdiv {
	top: 0;
	left: 200px;
	position:absolute;
	text-align:center;
	border-width: 0;
	background-color: #525252;
	display: none;
	padding: 30px;
	width: 250px;
	height: 150px;
	z-index: 3000;
	color: white;
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
	-webkit-box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.75); 
	-webkit-border-radius: 0px 0px 45px 45px;
	-moz-border-radius: 0px 0px 45px 45px;
	border-radius: 0px 0px 45px 45px
}



#transoverlay{
	position:absolute;
	left:0;
	top: 0;
	background: rgba(192,192,192,.9);
	width: 100%;
	height: 100%;
	text-align: center;
	display:none;
	z-index:200;
}	
#closeOverlayBtn{
	bottom:20px;
	position:absolute;
	font-size: 24px;
	background-color:#BA24BA;
	color:white;
	width:200px;
	border-radius:15px;	
	z-index: 2001;
}


#filetreediv{
	position: absolute;
	top: 20px;
	left: 300px;
	z-index: 100000;
	display: none;
	max-height: 600px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	overflow:  scroll;
	border: 4px solid #3865D4;
	opacity: 1.0;
	background-color: #FDFF95
	
}	

#savefilename{
	font-size: 18px;
	height: 22px;
}



#filetreeclosebtn{
	position: fixed;
	top:  0px;
	left: 670px;
	width: 40px;
	height: 40px;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	z-index: 2002;
	background-color: #FFFB23;
	color: #B31AD4;
	font-family: "Helvetica Neue";
	font-size: 24x;
	border: 4px solid #622BD4;
	-webkit-box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.75); 
	border-radius: 50%;
	
}
#recentfileslist{
	display: block;
}
.recentfile{
	background-color: #DBFFFB;
	color: #354995;
	border: 1px solid #354995;
	border-radius: 8px;
}
.recentfilemousedown{
	background-color: #EAF834;
}	

#savefilename1, #savedir1{
	font-family: "Helvetica Neue",Helvetica,Verdana,Arial,Sans;
	font-size: 1em;
}
#savefilename1{
	color: #1716FF;
} 
#savedir1{	
	color: gray;
}	


			`																																																																																																																																																																																																																																																																																																																																											

