body{
	background-color: white;
}

/* Every area that lets you type into it */
textarea{
	border-radius: 8px;
}
/* Overall default properties of lines of text */
.line{
	font-size: 16pt;
	font-family: Georgia, Palatino, Bookman, "Times New Roman", serif;
	color:black;
	position: relative;
	height: auto;
	overflow: hidden;
	resize: none;
}

/* The row each text area is in */
.linediv{
	margin-top: -5px;
	margin-bottom: -5px;
}

/* The different indent levels of each row */
.t0{
  background-color: #DFDFDF; 
  color: black;
  font-size: 24pt;
}
.t1{
  background-color: white; 
  color: black;
  font-size: 20pt;
}
.t2{
  background-color: white; 
  color: black;
  font-size: 18pt;
}
.t3{
  background-color: white; 
  color: black;
  font-size: 16pt;
}
.t4{
  background-color: white; 
  color: black;
  font-size: 13pt;
}
.t5{
  background-color: white; 
  color: black;
  font-size: 12pt;
}

/* 
textarea{
	font-family:Georgia, Palatino, Bookman, Times New Roman, serif;
	height:15px;
	background-color:#FFFFA0;
	width:95%;
	margin-top:1px;
	margin-bottom:1px;
	border:0px;
}
 */
#titletxtarea{
	height:20pt;
	width: 95%;
	font-size:18pt;
	background-color:#007CFF;
	color: white;
	border-bottom: 2px solid #4A8DFF;
	font-family: "Helvetica Neue",Helvetica,Verdana,Arial,Sans;
}




